*{
    margin: 0;
    padding: 0;
}

div .itemList{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
   
}

.task{   
    text-align: center;
    color: #696969;
    padding-top: 50px;
}


