@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.listNav {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 60%;

    
}

.mainNav {
    display: flex;
    justify-content: center;
    padding: 15px;
    background: rgb(228, 236, 247);
    
  
}

.itemNavigation{
    text-decoration: none;
    color: black;
    opacity: 78%;
    transition: all 500ms ease;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    &:hover{
        transform: scale(1.1)
    }
}

.liNav {
    transition: all 500ms ease;
    &:hover{
        transform: scale(1.1)
    }
}

.btnNav{
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
